"*":
  "exception-reporting":
    userId: "99186274-4721-4381-1cdf-4d90e613d9ad"
  "release-notes":
    viewedVersion: "0.71.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "aa943ad317c94e92019016ddf88b495c46835685"
  editor:
    fontFamily: "PragmataPro"
    showIndentGuide: true
    preferredLineLength: 200
    softWrap: true
    softWrapAtPreferredLineLength: true
    scrollPastEnd: true
    useShadowDOM: true
    invisibles: {}
    fontSize: 26
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".ruby-version"
      ".ruby-gemset"
      ".gitignore"
      ".gitmodules"
      ".rspec"
    ]
    disabledPackages: [
      "archive-view"
      "autoflow"
      "language-php"
      "language-toml"
      "wrap-guide"
      "scroll-past-end"
      "atom-erb"
      "atom-color-highlight"
      "jshint"
      "linter-eslint"
      "linter"
      "linter-coffeelint"
    ]
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
    projectHome: "/Users/tulio/Projects"
    audioBeep: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  react: {}
  "copy-as-rtf": {}
  "autocomplete-plus":
    autoActivationDelay: 200
  "atom-color-highlight": {}
  pigments: {}
  "fuzzy-finder":
    ignoredNames: [
      "*/vcr/*"
    ]
  "language-babel":
    transpileOnSave: false
    disableWhenNoBabelrcFileInPath: true
  "merge-conflicts": {}
  "rubocop-auto-correct":
    autoRun: true
  linter: {}
  "go-plus": {}
  "git-plus": {}
  "markdown-preview":
    useGitHubStyle: true
".gohtml.html.text":
  editor:
    preferredLineLength: 200
".js.regexp.source":
  editor:
    preferredLineLength: 200
".js.jsx.source":
  editor:
    preferredLineLength: 200
".babel.regexp.source":
  editor:
    preferredLineLength: 200
".diff.source":
  editor:
    preferredLineLength: 200
".gotemplate.source":
  editor:
    preferredLineLength: 200
".go.source":
  editor:
    preferredLineLength: 200
".js.source":
  editor:
    preferredLineLength: 200
