"*":
  "atom-color-highlight": {}
  "autocomplete-plus":
    autoActivationDelay: 200
  "copy-as-rtf": {}
  core:
    audioBeep: false
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "archive-view"
      "autoflow"
      "language-php"
      "language-toml"
      "wrap-guide"
      "scroll-past-end"
      "atom-erb"
      "atom-color-highlight"
      "jshint"
      "linter-eslint"
      "linter"
      "linter-coffeelint"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".ruby-version"
      ".ruby-gemset"
      ".gitignore"
      ".gitmodules"
      ".rspec"
    ]
    projectHome: "/Users/tulio/Projects"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gloom"
    ]
  editor:
    fontFamily: "PragmataPro"
    fontSize: 17
    invisibles: {}
    preferredLineLength: 200
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    useShadowDOM: true
  "exception-reporting":
    userId: "99186274-4721-4381-1cdf-4d90e613d9ad"
  "fuzzy-finder":
    ignoredNames: [
      "*/vcr/*"
    ]
  "git-plus": {}
  "go-plus": {}
  "language-babel":
    disableWhenNoBabelrcFileInPath: true
    transpileOnSave: false
  linter: {}
  "markdown-preview":
    useGitHubStyle: true
  "merge-conflicts": {}
  metrics:
    userId: "aa943ad317c94e92019016ddf88b495c46835685"
  pigments: {}
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
    prettierOptions:
      printWidth: 100
      semi: false
      singleQuote: true
      trailingComma: "es5"
  react: {}
  "release-notes":
    viewedVersion: "0.71.0"
  "rubocop-auto-correct":
    autoRun: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 200
".diff.source":
  editor:
    preferredLineLength: 200
".go.source":
  editor:
    preferredLineLength: 200
".gohtml.html.text":
  editor:
    preferredLineLength: 200
".gotemplate.source":
  editor:
    preferredLineLength: 200
".js.jsx.source":
  editor:
    preferredLineLength: 200
".js.regexp.source":
  editor:
    preferredLineLength: 200
".js.source":
  editor:
    preferredLineLength: 200
